@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

.datepicker {
  display: inline-block;
  width: 640px;
  user-select: none;
}
.months-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.month-wrapper {
  display: inline-block;
  vertical-align: top;
}
.month-wrapper .month-title {
  display: flex;
  justify-content: space-between;
}
.month-wrapper .month {
  padding: 4px;
}
.month-wrapper .month .week + .week {
  margin-top: 4px;
  border-radius: 15px;
  overflow: hidden;
}

.week {
  display: flex;
}
.day {
  padding: 0;
  width: 30px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: 'Montserrat';
font-size: 14px;
font-weight: 400;
line-height: 18px;
margin: 0;
letter-spacing: 0em;
text-align: center;
}

.weekNames {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: center;
}
.day:hover {
  background: hsl(0deg 0% 97%);
  border-radius: 50%;
}
.day:hover.in-range,
.day:hover.selected {
  border-color: blue;
}
.day.today {
  border-color: blue;
}
.day.grayout {
  opacity: 0.2;
}
.day.in-range {
  background: hsl(0deg 0% 97%);
}


.day.selected {
  background-color: hsl(176deg 82% 63%);
  border-radius: 50%;
}
.controls {
  width: 100%;
  display: flex;
  margin-top: 4px;
  justify-content: space-between;
}
.controls > button {
  background-color: hsl(0deg 0% 97%);
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  max-height: 30px;
    max-width: 30px;
    padding: 0;
}
.controls > p + p {
  margin-left: 4px;
}

.controls img {
  height: 20px;
}
.inputs-wrapper {
  margin-top: 10px;
}
.days-parent.first {
  height: 30px;
  width: 30px;
  background-color: hsl(0deg 0% 97%) !important;
  border-radius: 0px !important;
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}

.days-parent.last {
  height: 30px;
  width: 30px;
  background-color: hsl(0deg 0% 97%) !important;
  border-radius: 0px !important;
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}

.first {
  border-radius: 50%;
  background-color: hsl(178deg 78% 60%) !important;
}
.last {
  background-color: yellow !important;
  border-radius: 50%;
}

select {
  border: none;
  background: transparent;
  color: solid black !important;
  padding: 0 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-size: 16px;
  line-height: 22px;

  -webkit-appearance: none;
  -moz-appearance: none;
}

select:focus-visible {
  outline: none;
}
.arrow {
  position: relative;
  left: -13px;
  top: 3px;
  box-sizing: border-box;
  height: 10px;
  width: 10px;
  border-style: solid;
  border-color: grey;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
}

select .hello {
  width: 400px !important;
}