@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

.datepicker {
  display: inline-block;
  width: 640px;
  user-select: none;
}
.months-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.month-wrapper {
  display: inline-block;
  vertical-align: top;
}
.month-wrapper .month-title {
  display: flex;
  justify-content: space-between;
}
.month-wrapper .month {
  padding: 4px;
}
.month-wrapper .month .week + .week {
  margin-top: 4px;
  border-radius: 15px;
  overflow: hidden;
}

.week {
  display: flex;
}
.day {
  padding: 0;
  width: 30px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  letter-spacing: 0em;
  text-align: center;
}

.weekNames {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: center;
}
.day:hover {
  background: hsl(0deg 0% 97%);
  border-radius: 50%;
}
.day:hover.in-range,
.day:hover.selected {
  border-color: blue;
}
.day.today {
  border-color: blue;
}
.day.grayout {
  opacity: 0.2;
}
.day.in-range {
  background: hsl(0deg 0% 97%);
}

.day.selected {
  background-color: hsl(176deg 82% 63%);
  border-radius: 50%;
}
.controls {
  width: 100%;
  display: flex;
  margin-top: 4px;
  align-items: center;
  justify-content: space-between;
}
.controls > button {
  position: relative;
  bottom: 5px;
  background-color: hsl(0deg 0% 97%);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  max-height: 15px;
  padding: 0;
}
.controls > p + p {
  margin-left: 4px;
}

.controls img {
  height: 15px;
}
.inputs-wrapper {
  margin-top: 10px;
}
.days-parent.first {
  height: 30px;
  width: 30px;
  background-color: hsl(0deg 0% 97%) !important;
  border-radius: 0px !important;
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}

.days-parent.last {
  height: 30px;
  width: 30px;
  background-color: hsl(0deg 0% 97%) !important;
  border-radius: 0px !important;
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}

.first {
  border-radius: 50%;
  background-color: hsl(178deg 78% 60%) !important;
}
.last {
  background-color: yellow !important;
  border-radius: 50%;
}

.custom-select {
  position: relative;
  border: none;
  background: transparent;
  color: solid black !important;
  padding: 0 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-size: 16px;
  line-height: 22px;
  text-align: right;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select:focus-visible {
  outline: none;
}
.arrow {
  position: relative;
  left: -13px;
  top: 3px;
  box-sizing: border-box;
  height: 10px;
  width: 10px;
  border-style: solid;
  border-color: grey;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
}

.option {
  text-align: center;
  width: fit-content;
  border-radius: 4px;
  background: #fff;
  padding: 0px 40px;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-size: 14px;
  line-height: 22px;
}

.dropdown {
  z-index: 9;
  position: absolute;
  background: #fff;
  right: 0;
  min-width: max-content;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  max-height: 240px;
  height: 0;
}

.dropdown.open {
  height: auto;
}
.icon {
  transition: 0.2s all ease-in-out;
  margin-left: 8px;
  top: -2px;
  position: relative;
}

.label {
  position: relative;
  top: 1px;
  min-width: max-content;
  width: calc(100% - 20px);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  padding: 6px 8px 6px 12px;
  font-size: 12px;
  font-weight: 500;
  text-transform: capitalize;
}
svg {
  transition: 0.2s all ease-in-out;
}

.option.active {
  background-color: #e7e7e7;
}

.dropdownWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdown-heading {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-size: 16px;
    line-height: 22px;
    margin: 5px;
}

.dropdown-heading svg {
  transform: rotate(180deg);
}